* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.card {
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
  height: 700px;
  width: 400px;
  position: relative;
  margin: 0.5rem;
}

.card-container {
  width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
}

.card__title {
  margin: 0;
  line-height: 1.2;
}

.card__image {
  height: 200px;
  background-image: url(/CityCard/img/prague.jpg);
  background-size: cover;
}

.card__content {
  padding: 30px 30px 110px;
}

.card__subtitle {
  margin: 0 0 15px;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.6;
  color: #e76c67;
}

.card__description {
  line-height: 1.6;
  color: #666666;
}

.card__description--red {
  color: red;
}

.card-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 30px 50px;
}

.card-footer__button {
  display: block;
  background-color: red;
  padding: 10px 15px;
  border: 1px solid rgb(199, 0, 0);
  text-decoration: none;
  color: white;
  font-weight: 700;
  text-align: center;
}
